circle {
	fill: none;
	stroke: none;
}

circle.leaf {
  fill: rgba(31, 119, 180, 0.7);
  stroke: rgb(31, 119, 180);
  stroke-width: 2px;
  fill-opacity: 1;
}

.bubble{
  cursor: pointer;
  
}

.bubble text{
  fill: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
